body{
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    
}

.titulo{
    text-align: center;
}
header{
    max-width: 90%;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
section article{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

section article,p{
    margin: 16px;
    font-size: 20px;
}
section article,h1{
    margin: 16px;
}

a{
    text-decoration: none;
    color: beige;
}

.imagen1{
    float: right;
    padding-right: 134px;
    padding-bottom: 0px;
    
    
}

.imagen2{
    float: right;
    padding: 150px 180px 0px 20px;

}

li{
    font-size: 20px;
    padding-bottom: 8px;
}

@media(max-width: 780px){
    .imgen{
        width: 150%;
        height: 100%;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .imagen1{
        width: 65%;
        height: 65%;
    }
    .imagen2{
        width: 50%;
        height: 50%;
    }
    img{
        width: 100%;
        height: 100%;
    }
}



