body{
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    
}

.titulo{
    text-align: center;
}


.container{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    
    
}
section article{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

section article,p{
    margin: 16px;
}
section article,h1{
    margin: 16px;
}

a{
    text-decoration: none;
    color: beige;
}

.imagen1{
    float: right;
    margin-right: 140px;
    margin-bottom: 20px;
    
}

.imagen2{
    float: right;
    margin-right: 180px;
}

