body{
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    
}

.titulo{
    text-align: center;
}
header{
    max-width: 90%;
}

.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.volver{
    padding-left: 15px;
}
section article{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

section article,p{
    margin: 16px;
    font-size: 20px;
}
section article,h1{
    margin: 16px;
}

a{
    text-decoration: none;
    color: beige;
}

.imagen1{
    float: right;
    padding-right: 134px;
    padding-bottom: 0px;
    
    
}

.imagen2{
    float: right;
    padding: 150px;
}

li{
    font-size: 20px;
    padding-bottom: 8px;
}

@media(max-width: 780px){
    .imgen{
        width: 150%;
        height: 100%;
    }
    .container{
        width: 110%;
        height: 100%;
    }
    .imagen1{
        width: 65%;
        height: 65%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .imagen2{
        width: 48%;
        height: 48%;
        padding-bottom: 95px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 530px){
    .imagen2{
        width: 152px;
        height: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}

@media(max-width: 340px){
    .imagen1{
        width: 0%;
        height: 0%;
        padding: 0;
    }
    .imagen2{
        width: 0%;
        height: 0%;
        padding: 0;
    }
}



